<p id="notice"><%= notice %></p>

<h1>Admin Shops</h1>

<table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand">
  <thead>
    <tr>
      <th>Lat</th>
      <th>Lng</th>
      <th>Name</th>
      <th>Pref</th>
      <th>Description</th>
      <th>Images</th>
      <th ></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_shops.each do |admin_shop| %>
      <tr>
        <td><%= admin_shop.lat %></td>
        <td><%= admin_shop.lng %></td>
        <td><%= admin_shop.name %></td>
        <td><%= admin_shop.pref_id %></td>
        <td><%= admin_shop.description %></td>
        <td><%= link_to "Images",{:controller=>"admin/images",:action=>"index",:type=>"shop",:parent_id=>admin_shop.id},:class=>"btn btn-sm  btn-success" %>
            <%= admin_shop.images.where("image_type='shop'").count %>
        <td><%= link_to 'Edit', edit_admin_shop_path(admin_shop) %></td>
        <td><%= link_to "Delete",{ :controller=>"admin/shops",:action=>"destroy", :id=> admin_shop.id }, {:method => :delete,:class=>"btn btn-sm btn-danger",:data => {:confirm => 'Are you sure?'}} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Shop', new_admin_shop_path %>
