<div class="m-portlet m-portlet--tab">
			<div class="m-portlet__head">
				<div class="m-portlet__head-caption">
					<div class="m-portlet__head-title">
						<span class="m-portlet__head-icon m--hide">
						<i class="la la-gear"></i>
						</span>
						<h3 class="m-portlet__head-text">
							Masjid	
						</h3>
					</div>
				</div>
			</div>
	<%= form_for @masjid, :html=>{:class=>"m-form m-form--fit m-form--label-align-right"},url: {action: "create"} do |form| %>
	  <div class="m-portlet__body">

	  <div class="form-group m-form__group row">
	    <%= form.label :lat, {class: 'col-2 col-form-label'} %>
	    <div class="col-10">
	    <%= form.text_field :lat, {class: 'form-control m-input'} %>
		</div>
	  </div>

	  <div class="form-group m-form__group row">
	    <%= form.label :lng, {class: 'col-2 col-form-label'}  %>
	    <div class="col-10">
	    <%= form.text_field :lng, {class: 'form-control m-input'} %>
	    </div>
	  </div>

	  <div class="form-group m-form__group row">
	    <%= form.label :name, {class: 'col-2 col-form-label'}  %>
	    <div class="col-10">
	    <%= form.text_field :name, {class: 'form-control m-input'} %>
	    </div>
	  </div>

	  <div class="form-group m-form__group row">
	    <%= form.label :pref_id, {class: 'col-2 col-form-label'}  %>
	    <div class="col-10">
	    	
	    	<select name="masjid[pref_id]" class="form-control">
	    	<% @pref.each do |item| %>
	    	<option value="<%= item.id %>"><%= item.en %></option>
	    	<% end %>
	        </select>
	    </div>
	  </div>

	  <div class="form-group m-form__group row">
	    <%= form.label :city, {class: 'col-2 col-form-label'}  %>
	    <div class="col-10">
	    <%= form.text_field :city, {class: 'form-control m-input'} %>
	    </div>
	  </div>

	  <div class="form-group m-form__group row">
	    <%= form.label :post_code, {class: 'col-2 col-form-label'}  %>
	    <div class="col-10">
	    <%= form.text_field :post_code, {class: 'form-control m-input'} %>
	    </div>
	  </div>

	  <div class="form-group m-form__group row">
	    <%= form.label :type, {class: 'col-2 col-form-label'}  %>
	    <div class="col-10">
	    	<label><input type="radio" name="masjid[masjid_type]" selected value="1">Masjid</label>
	    	<label><input type="radio" name="masjid[masjid_type]" value="0">Praying Room</label>
	    </div>
	  </div>

	  <div class="form-group m-form__group row">
	    <%= form.label :address, {class: 'col-2 col-form-label'}  %>
	    <div class="col-10">
	    <%= form.text_field :address, {class: 'form-control m-input'} %>
		</div>
	  </div>

	  <div class="form-group m-form__group row">
	    <%= form.label :phone, {class: 'col-2 col-form-label'}  %>
	    <div class="col-10">
	    <%= form.text_field :phone, {class: 'form-control m-input'} %>
	    </div>
	  </div>

	  <div class="form-group m-form__group row">
	    <%= form.label :email, {class: 'col-2 col-form-label'}  %>
	    <div class="col-10">
	    <%= form.text_field :email, {class: 'form-control m-input'} %>
	    </div>
	  </div>

	  <div class="form-group m-form__group row">
	    <%= form.label :website, {class: 'col-2 col-form-label'}  %>
	    <div class="col-10">
	    <%= form.text_field :website, {class: 'form-control m-input'} %>
	    </div>
	  </div>

	  <div class="form-group m-form__group row">
	    <%= form.label :description, {class: 'col-2 col-form-label'}  %>
	    <div class="col-10">
	    <%= form.text_area :description, {class: 'form-control m-input'} %>
	    </div>
	  </div>

	  <div class="form-group m-form__group">
	    <%= form.submit %>
	  </div>
		</div>
	<% end %>
</div>
