<p id="notice"><%= notice %></p>

<p>
  <strong>Lat:</strong>
  <%= @admin_masjid.lat %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @admin_masjid.lng %>
</p>

<p>
  <strong>Name:</strong>
  <%= @admin_masjid.name %>
</p>

<p>
  <strong>Pref:</strong>
  <%= @admin_masjid.pref_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @admin_masjid.description %>
</p>

<%= link_to 'Edit', edit_admin_masjid_path(@admin_masjid) %> |
<%= link_to 'Back', admin_masjids_path %>
